[package]
name = "sniproxy-config"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true }
serde_yml = { workspace = true }
